body {
  background-color: rgb(98, 85, 107);
  —Åolor: white;
}

#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.rectangle {

}

#logo{

}

#zegar{

}

.square{

}

.title1{

}

.title2{

}

.title3{

}

.title4{

}

.title5{

}

#yt{

}

#fb{

}

#insta{

}

#wp{

}
