body
{
	margin: 0;
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

hi .logo{
	font-size: 44px;
	font-weight: 700;
	text-align:
	color: #ddd;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: 15px;
	padding: 20px 0;
}
