body
{
	margin: 0;
	background-color: #2F3336;
	color: #efefef;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

h1.logo{
	font-size: 44px;
	font-weight: 700;
	text-align: center;
	color: #ddd;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 20px 0;
	text-transform: uppercase;
}

nav{
	background-color: #1C74b2;
	text-align: center;
}

.menu{
	list-style: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
}

.menu > li{
	display: inline-block;
	padding: 0 20px;
	border-right: 1px dashed #0a2b42;
}

.menu > li:first-child{
	border-left: 1px dashed #0a2b42;
}

.menu a{
	color: #fff;
	text-decoration: none;
}

.menu a:hover{
	color: #0a2b42;
}

.categories{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding: 0;
}

h1{
	font-size: 44px;
	font-weight: 400px;
	color: #39a5f1;
	margin-bottom: 20px;
}

.author{
	display: inline-block;
	margin-top: 10px;
}

.author a{
	opacity: 0.8;
}

.author a:hover{
	opacity: 1;
}

figure{
	margin: 8px;
	padding: 0;
}

figcaption{
	margin-top: 8px;
}

.entries{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 80px;
}

#newest{
	margin-top: 40px;
	background-color: #191d21;
}
