### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule badz-silny-sprawny-i-zdrowy index.html
RewriteRule kim-jestesmy kimjestesmy.html
RewriteRule jak-mozemy-ci-pomoc pomoc.html
RewriteRule nasze-wykrztaucenie cv.html
RewriteRule skontaktuj-sie-z-nami kontakt.html
