body {
  background-color: rgb(61, 57, 64);
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

a.tilelink{
  color: white;
  text-decoration: none;

}

a.tilelink:hover{
  opacity: 0.5;

}

a.tilelink_special{
  display: block;
  width: 230px;
  height: 142px;
  color: white;
  text-decoration: none;
}

#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.rectangle {
  width: 960px;
  padding: 10px;
}

#logo{
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 70px;
  width: 600px;
}

#clock{
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 70px;
}

.square{
  width: 50%;
  float: left;
}

.tile1{
  margin: 10px;
  width: 230px;
  height: 142px;
  background-color: #22a7d9;
  float: left;
  text-align: center;
  display: inline-block;
}

.tile2{
  margin: 10px;
  width: 230px;
  height: 142px;
  background-color: #666666;
  float: left;
  text-align: center;
}

.tile3{
  margin: 10px;
  width: 230px;
  height: 142px;
  background-color: #89eb53;
  float: left;
  text-align: center;
}

.tile4{
  margin: 10px;
  width: 480px;
  height: 116px;
  background-color: #e360ab;
  text-align: center;
  font-size: 28px;
  padding-top: 26px;
  line-height: 150%;
}

.tile5{
  margin: 10px;
  width: 420px;
  height: 244px;
  background-color: #666666;
  text-align: justify;
  padding: 30px;
}

.tile1:hover{
  background-color: #1196c9;
}

.tile2:hover{
  background-color: #555555;
}

.tile3:hover{
  background-color: #78da42;
}

.yt{
  margin: 10px;
  width: 105px;
  height: 142px;
  background-color: #ff0000;
  float: left;
  text-align: center;
}

.fb{
  margin: 10px;
  width: 105px;
  height: 142px;
  background-color: #1877f2;
  float: left;
  text-align: center;
}

.insta{
  margin: 10px;
  width: 105px;
  height: 142px;
  background-color: #c32aa3;
  float: left;
  text-align: center;
}

.wp{
  margin: 10px;
  width: 105px;
  height: 142px;
  background-color: #21759b;
  float: left;
  text-align: center;
}

.yt:hover{
  background-color: #ee0000;
}

.fb:hover{
  background-color: #0766e1;
}

.insta:hover{
  background-color: #b21992;
}

.wp:hover{
  background-color: #10648a;
}

.fontopacity:hover{
  opacity: 0.5;
}
