body{
  margin: 0;
  padding: 0 60px;
  background-color: #29201B;
  color: #efefef;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

h1{
  font-size: 42px;
  font-weight: 400;
  color: #FA7C00;
  margin-bottom: 20px;
  text-align: center;
}

.lista{
  padding: 10px;
  border: 1px solid #FA7C00;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 20px;
}

ul{
  margin: 0;
  padding: 0;
}

ul>li{
  list-style-type: none;
  padding: 5px 0;
}

.lista:hover{
  background-color: #3a423f;
}
