body{
  margin: 0;
  padding: 0 60px;
  background-color: #29201B;
  color: #efefef;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

h1{
  font-size: 42px;
  font-weight: 400;
  color: #FA7C00;
  margin-bottom: 20px;
  text-align: center;
}

.row{
  margin: 20px 10px;
}

.col{
  display: inline-block;
}

legend, label.select, .row{
  padding: 10px;
  border: 1px solid #FA7C00;
  border-radius: 5px;
  background-color: #3a312C;
}

.lista, .col{
  padding: 10px;
  border: 1px solid #FA7C00;
  border-radius: 5px;
  margin-bottom: 20px;
}

.col{
  margin: 10px;
}

.lista:hover{
  background-color: #3a312C;
}

ul{
  margin: 0;
  padding: 0;
}

ul>li, ul>div>li{
  list-style-type: none;
  padding: 5px 0;
}

ul>li:hover{
  text-shadow: 1px 0px 2px #CCCCCC;
}

select, option{
  background-color: #29201B;
  color: #efefef;
  padding: 0;
  margin: 20px 10px;
}

option:hover{
  text-shadow: 1px 0px 2px #CCCCCC;
  background-color: #3a312C;
}

.labelDiferent,
.labelDiferent>label>input{
  margin: 15px;
}

input[type=text],
input[type=password],
input[type=search],
input[type=number],
input[type=color],
input[type=email],
input[type=tel],
input[type=date],
input[type=time],
input[type=url],
textarea,
progress{
  display: block;
  margin: 15px;
  border-color: #FA7C00;
  border-radius: 5px;
}

#uwagi{
  resize: none;
}

input[type=submit]{
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 5px 40px;
}

input[type=reset]{
  background-color: red;
  margin-left: 205px;
  border-radius: 5px;
  padding: 5px;
}
